*{
    margin: 0;
    padding: 0;
}
body
{
background-image:url(https://lh6.googleusercontent.com/proxy/pzmzaMDo2HZNgZaFygUcFcc19TFxaJnaK6xpnw_WnqAid1_U7J7sPXPyD8XlELyLSNsdZmcJLfSoG4dls6mXhjPC2zFsZJb8=s0-d) ;
background-size: cover;
margin: 0;
padding: 0;
height: 100vh;
}
.forumdiv 
{
    background-color: rgba(17, 25, 40, 0.43);
    backdrop-filter: blur(2px) saturate(200%);
    border-radius: 1rem;
    padding: 10px;
    text-align: center;width: 40%;
    margin: 5rem auto 0;
}
.forumdiv h1
{
color: white;
font-weight: bolder;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.forumdiv input
{
    margin-top: 15px;
}
.forumdiv span
{
    color: rgb(184, 184, 184);
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inputdiv input
{
display: block;
margin: auto;
margin-top: 10px;
border-radius: 10px;
border: 3px solid #fff;
padding: 10px 0 10px 15px;
width: 90%;
}
.forumdiv button
{
letter-spacing: 3px;
width: 90%;
background-color: #e5d7166e;
border: 1px solid #e5d7166e;
color: #fff;
padding: 15px 0;
margin-top: 20px;
border-radius: 5px;
cursor: pointer;
}
.forumdiv button:hover
{
    background-color: rgba(255, 238, 0, 0.993);
    transition: ease 0.9s;
}
.select
{
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    border: 3px solid #fff;
    padding: 10px 20px 10px 35px;
}

#modal{
    background-color: rgb(255, 0, 0);
    padding: 5rem;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 10px;
    display: none;
}
#modal h1{
    font-size: 2.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
#modal button{
    font-size: 2rem;
    padding: 0.2rem 2rem;
    background-color: transparent;
    color: white;
    border: #fff 1px solid;
    cursor: pointer;
}
#btn-open{
    text-align: center;
}